a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: .8em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

a:hover::before {
  color: #ffffff;
  text-shadow: 10px 0 var(--foreground-quaternary), -10px 0 var(--foreground-quaternary);
}

a.active::before {
  color: #ffffff;
  text-shadow: 10px 0 var(--foreground-quaternary), -10px 0 var(--foreground-quaternary);
}
